<style>
.actions{
  margin-top: 30px;
  text-align:center;
}

.authButtons{
  margin-top: 20px;
  text-align:center;
}

.authButtons a:visited{
  color: inherit;
}

.authButtons a:hover{
  background-color: transparent;
  text-decoration: underline;
  color: inherit;
}

.submitButton{
  background-color: #b71c1c;
}

.submitButton:hover{
  background-color: #931616;
}


</style>

<center><h5>Por favor, ingresa tus credenciales... </h5></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name, class: 'active' %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :last_name, class: 'active' %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email, class: 'active' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :phone_number, class: 'active' %><br />
    <%= f.phone_field :phone_number, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :birthdate, class: 'active' %><br />
    <%= f.date_field :birthdate, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'active' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'active' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="input-field col l12">
    <%= f.label :role_id, class: 'active' %><br />
    <%= f.select "role_id", Role.all.collect {|x| [x.name, x.id]},{}, class: "multiple"%>
  </div>

  <div class="input-field col l12">
    <%= f.label :department_id, class: 'active' %><br />
    <%= f.select "department_id", Department.all.collect {|x| [x.name, x.id]},{}, class: "multiple"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'btn btn-default submitButton' %>
  </div>
<% end %>

<div class="authButtons">
  <%= render "devise/shared/links" %>
</div>

