<% if can? :read, Department%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
<% else %>
    <script type="text/javascript">
        window.location.href="/"  // put your correct path in a string here
  </script>
<% end %>

