<%= form_with(model: external_file, local: true) do |form| %>
  <% if external_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(external_file.errors.count, "error") %> prohibited this external_file from being saved:</h2>

      <ul>
      <% external_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col l12">
    <%= form.label :url, class: 'active' %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
