<p id="notice"><%= notice %></p>

<h1>External Files</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @external_files.each do |external_file| %>
      <tr>
        <td><%= external_file.url %></td>
        <td><%= link_to 'Show', external_file %></td>
        <td><%= link_to 'Edit', edit_external_file_path(external_file) %></td>
        <td><%= link_to 'Destroy', external_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New External File', new_external_file_path %>
