<p id="notice"><%= notice %></p>

<h1>Pqrs</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Titulo</th>
      <th>Asunto</th>
      <th>Descripcion</th>
      <th>Fecha de creacion</th>
      <th>Fecha Limite</th>
      <th>Adjunto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pqrs.each do |pqr| %>
      <tr>
        <td><%= pqr.first_name %></td>
        <td><%= pqr.last_name %></td>
        <td><%= pqr.email %></td>
        <td><%= pqr.title %></td>
        <td><%= pqr.subject %></td>
        <td><%= pqr.description %></td>
        <td><%= pqr.date %></td>
        <td><%= pqr.responseDate %></td>
        <td><%= pqr.external_file.url %></td>
        <td><%= link_to material_icon.search.md_36, pqr %> </td> 
        <td><%= link_to material_icon.edit.md_36, edit_pqr_path(pqr) %></td>
        <td><%= link_to material_icon.clear.md_36, pqr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear PQR',new_pqr_path, class:'waves-effect waves-light btn red darken-4' %>
