<% if can? :read, Role%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
<% else %>
    <script type="text/javascript">
        window.location.href="/"  // put your correct path in a string here
  </script>
<% end %>
