<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @log.action %>
</p>

<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>

<p>
  <strong>Table:</strong>
  <%= @log.table %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
