<%= form_with(model: pqr_tracking, local: true) do |form| %>
  <% if pqr_tracking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pqr_tracking.errors.count, "error") %> prohibited this pqr_tracking from being saved:</h2>

      <ul>
      <% pqr_tracking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pqr_id %>
    <%= form.select "pqr_id", Pqr.all.collect {|x| [x.title, x.id]},{}, class: "multiple"%>
  </div>

  <div class="field">
    <%= form.label :actual_user_id %>
    <%= form.select "actual_user_id", User.all.collect {|x| [x.first_name, x.id]},{}, class: "multiple"%>
  </div>

  <div class="field">
    <%= form.label :dest_user_id %>
    <%= form.select "dest_user_id", User.all.collect {|x| [x.first_name, x.id]},{}, class: "multiple"%>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.select "status_id", Status.all.collect {|x| [x.status_description, x.id]},{}, class: "multiple"%>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.select "department_id", Department.all.collect {|x| [x.name, x.id]},{}, class: "multiple"%>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_field :review %>
  </div>

  <div class="field">
    <%= form.label :response %>
    <%= form.text_field :response %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
